.main {
    margin: 100px auto;
    height: 100%;
    text-align: center;
}

.name {
    font-size: 6em;
}

.motto {
    font-size: 3rem;
}

.description {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 1.8rem;
}